*,
*::after,
*::before{
    box-sizing: border-box;
}

:root{
    --clr-primary:#ee6332;
    --clr-body:#000;
    --clr-bg:#ddd;
}

body{
    font-family: basic-sans, sans-serif;
    min-height: 100vh;
    color:var(--clr-body);
    background: var(--clr-bg);
    display: flex;
    justify-content: center;
    align-items:center;
    font-size:1.125rem;
    line-height: 1.6;
}

.content{
    background: white;
    width: 70vw;
    padding:3rem;
    box-shadow: 0 0 3rem rgba(0,0,0,.15);
    position: relative;
}

.search-bar{
    --size:60px;
    border:2px solid var(--clr-primary);
    display: flex;
    border-radius: 100vh;
    height: var(--size);
    width: var(--size);
    padding: 3px;
    position: relative;
    transition: width 300ms ease-in-out;

    &__input{
        flex-grow: 1;
        font-size:1.5rem;
        padding:0 .5rem;
        border:0;
        background:rgba(lightblue,.5);
        position: absolute;
        top:0;
        bottom:0;
        left:0;

        &:focus{
            outline:0;
        }
    }

    &__submit{
        font-size:1.5rem;
        cursor: pointer;
        border:0;
        background: transparent;
        border-radius: 50%;
        background: pink;
        width: calc(var(--size) - 10px);
        height: calc(var(--size) - 10px);
    }

    &:focus-within{
        width: 100%;
    }

}